<div class="chat-header">
  <div class="left-hedder">
    <div class="header-title">hogefuga</div>
  </div>
  <div class="right-hedder">
    <div class="header-button">
      <a herf="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-room">
  <div class="chat-room-main">
    <div class="chat-room-message">
      <div class="chat-room-name">Tom</div>
      <div class="chat-room-day">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat-room-comment">おはよう</div>
  </div>
    <div class="chat-room-main">
    <div class="chat-room-message">
      <div class="chat-room-name">Tom</div>
      <div class="chat-room-day">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat-room-comment">おはよう</div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>